<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/boostrap-css') %> 
    <title>HOME</title>
</head>
<body class="basic-page">
    <%- include('./partials/nav' , {page: 'home'}) %> 
    <div class="jumbotron" style="background-image: url(https://hacktiv8.com/assets/img/ogdefault.jpg); background-size: cover; height: 84vh;">
      <div class="container for-about" style="align-items: center; background-color: white; opacity: 0.5; width: 85vw; border-radius: 10px;">
      <h1 style="text-align: center; color: black;font-size: 100px;">HACKTIV8 SCHOOL</h1>
      </div>
   </div>
    <%- include('./partials/boostrap-js') %> 
</body>
</html>